.msg_ok{
	color: #589D05;
}

.msg_error{
	color: red;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

   .input-field .prefix.active {
     color: red;
   }

   .input-field label {
     color: red;
   }