.slider .indicators{
	margin:-180px !important;
}

.slides{
	height: 590px !important;
}

.content{
	margin-top: 250px;
}

.circulo{
	width: 150px;
	height: 150px;
}

.promo-caption{
	font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.logo{
	width: 50px;
	height: 50px;
}

.trabajos{
	margin-top: 50px !important;
}

.earth{
	height: 180px;
	width: 180px;
}

footer.page-footer{
	background-color: #757575 !important;
}