.slider .slides li img{
	height: 150%;
}

.slides{
	height: 600px !important;
} 

.content{
	margin-top: 250px;
}

.circulo{
	width: 150px;
	height: 150px;
}

.promo-caption{
	font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

@media (min-width: 320px) {
	.brand-logo{
		padding-right: 10px !important;
	}
}

.brand-logo{
	padding-left: 10px !important;
}

.logo{
	width: 65px !important;
	height: 65px !important;
}

.trabajos{
	margin-top: 50px !important;
}

.earth{
	height: 180px;
	width: 180px;
}

footer.page-footer{
	background-color: #757575 !important;
}